/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-family-main);
    font-variation-settings: "wght" var(--font-weight-main-text);
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    border: 2px solid var(--font-color-dark);
    margin-top: 98px;
    margin-bottom: 98px;
    background-color: var(--font-color-light);
    padding-top: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
    padding-bottom: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
}

.header__logo {
    font-family: var(--font-family-accent);
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    font-weight: 400;
    line-height: 100%;
}

.header__description {
    font-family: var(--font-family-accent);
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    font-weight: var(--font-weight-main-text);
    line-height: 100%;
    text-transform: uppercase;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.card {
    border: 2px solid var(--font-color-dark);
    background-color: var(--font-color-light);
}

.card__header {
    padding: 4px 10px;
    font-size: 18px;
    font-variation-settings: "wght" var(--font-weight-card-title);
}

.card__wrap-image {
    border-top: 2px solid var(--font-color-dark);
    position: relative;
}

.card__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__image-label {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 14px;
    line-height: 100%;
    font-family: var(--font-family-accent);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow: -1px 0 var(--label-shadow-color),
    0 1px var(--label-shadow-color),
    1px 0 var(--label-shadow-color),
    0 -1px var(--label-shadow-color);
}

@supports ((text-stroke: 1px var(--label-shadow-color)) or (-webkit-text-stroke: 1px var(--label-shadow-color))) {
    .card__image-label {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--label-shadow-color);
        text-stroke: 1px var(--label-shadow-color);
    }
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    font-size: 18px;
    line-height: 21px;
    font-variation-settings: "wght" var(--font-weight-card-text);
}

.card__buttons {
    padding: 0 25px 25px;
    display: flex;
    justify-content: end;
    gap: 7px;
}

.button {
    position: relative;
    color: var(--font-color-light);
    border: 2px solid var(--font-color-dark);
    background-color: var(--font-color-light);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.button:focus {
    outline: none;
    box-shadow: 2px 2px 0 var(--font-color-dark);
}

.button::before {
    content: " ";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-color: var(--font-color-dark);
    transition: transform 0.5s ease-in-out;
}

.button:hover::before {
    transform: translateX(0%);
}

.card__icon-button {
    width: 38px;
    height: 38px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: var(--font-color-dark);
}

.card__like-button {
    padding: 12px 37px;
    width: 130px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__text {
    font-size: 14px;
    line-height: 90%;
    font-family: var(--font-family-accent);
    mix-blend-mode: difference;
}

.button-save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto 100px;
    width: 335px;
    height: 55px;
}

.button-save__icon {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
}

.dialog {
    max-width: 353px;
    padding: 28px;
    border: 2px solid var(--font-color-dark);
}

.dialog::backdrop {
    opacity: 0.75;
    background-color: var(--font-color-dark);
}

.dialog__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.dialog__content-icon {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
}

.dialog__content-text {
    font-size: 14px;
    line-height: 150%;
    font-family: var(--font-family-accent);
    text-transform: uppercase;
}

.dialog__ok {
    width: 100%;
    height: 38px;
    background-color: transparent;
}

.filter-brightness {
    filter: brightness(50%);
}

.filter-contrast {
    filter: contrast(20%);
}

.filter-blur {
    filter: blur(0.4rem);
}

.filter-opacity {
    filter: opacity(0.8);
}

.filter-grayscale {
    filter: grayscale(0.8);
}

.filter-saturate {
    filter: saturate(158%);
}

.filter-sepia {
    filter: sepia(80%);
}

.filter-multy {
    filter: sepia(80%) blur(0.4rem);
}

.like-icon {
    flex-shrink: 0;
}

.sparks {
    opacity: 0;
}

@media (width <= 375px) {
    .header {
        margin-bottom: 100px;
    }

    .button-save {
        flex-direction: column;
        width: 306px;
        height: 84px;
    }

    .button-save__icon {
        width: 28px;
        height: 28px;
    }

    .dialog {
        max-width: 341px;
        padding-left: 38px;
        padding-right: 38px;
    }
}
