/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-accent: 'PressStart2P', monospace;

    --font-weight-main-text: 400;
    --font-weight-card-text: 410;
    --font-weight-card-title: 715;

    --font-color-light: #fff;
    --font-color-dark: #000;

    --container-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

    --background-image: repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

    --label-shadow-color: #fff;

    --contour-color: #000;
    --animation-fill-color: #FF0000;
}